@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

#texto1{
    height: 600px;
    display: block;
    width: 100%;
    padding: 30px;
    line-height: 2em;
}

#texto2{
    background-image: url(imagens/escrita);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 600px;
}

#texto2 > p{
    padding: 10px;
    line-height: 2em;
    background-color: rgba(0, 0, 0, 0.411);
    margin: 30px 0px 0px 30px;
    display: block;
    max-height: 550px;
    color: white;
    max-width: 400px;
}

#texto3{
    height: 600px;
    display: block;
    padding: 30px;
    line-height: 2em;

}

#texto4 > p{
    padding: 10px;
    line-height: 2em;
    background-color: rgba(0, 0, 0, 0.411);
    margin: 30px 0px 0px 30px;
    display: block;
    max-height: 550px;
    color: white;
    max-width: 400px;
}

#texto4{
    background-image: url(imagens/rapaz\ no\ celular);
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 600px;
}

#texto5{
    height: 600px;
    display: block;
    width: 100%;
    padding: 30px;
    line-height: 2em;

}

footer{
    color: white;
    background-color: black;
}

footer > a{
    color: white;
}

footer > a:hover{
    color: blue;
}