@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: "Caveat", sans-serif;
    
    
}

.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


header {
    background-color: rgba(128, 128, 128, 0.473);
}
header h1{
    display: flex;
    justify-content: center;
    padding: 15px;
    text-shadow: 1px 1px 1px black;
    text-decoration: underline;
    
}

header h2{
    display: flex;
    justify-content: center;
    padding: 15px;
    text-shadow: 1px 1px 1px black;
    text-decoration: underline;
}

main {
    line-height: 2.5em;
    font-size: 25px;
    font-weight: bold;
}


#texto1{
    height: 600px;
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    text-shadow: 0px 0px 2px black;
    

    
    

}

#texto2{
    background-image: url(imagens/pexels-mart-production-7333611.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 600px;
    

}

#texto2 > p{
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 50px;
    text-shadow: 1px 1px 5px black;
    
    
    
}

#texto3{
    height: 600px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    text-shadow: 0px 0px 2px black;
    

}

#texto4 > p{
    display: block;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    text-shadow: 1px 1px 5px black;
}

#texto4{
    background-image: url(imagens/pexels-cottonbro-8059378.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 600px;
}

#texto5{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    text-shadow: 0px 0px 2px black;
    

}

footer{
    color: black;
    background-color: rgb(128, 128, 128);
    padding: 10px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    
    
}

footer > a{
    
    color: black;
}

footer > a:hover{
    color: white;
}