@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

@media (max-width: 652px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {flex-direction: column;
    gap: 10px;
    }
}
header{
    background-color: gray;
    padding: 20px;
    
}
header > img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

header > p{
    padding: 10px;
}

nav{
    margin: 20px;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;

    
}


a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

#container {
    overflow-x: auto; 
}
caption {
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 0px 0px 1px black;
}

table{
    border-collapse: collapse;
    margin: 20px;
    border-collapse: collapse;
    width: 100%;
    margin: 20px 15px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    
}

th {
    background-color: #3333338f;
    text-shadow: 0px 0px 1px black;
}
th,td {
    border: 1px solid black;
    padding: 5px;
}
footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: white;
}

footer ul{
    list-style: none;
}

footer li {
    margin: 5px 0px;
}

