@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #007bff;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 1px 3px black;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

h2 {
    margin-left: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}
@media (max-width:768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }
}